.btn {
  background-color: var(--secondary);
  color: var(--font-color);
  border-radius: 25px;
  width: 5rem;
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  &:hover {
    color: var(--secondary);
    background-color: var(--font-color);
  }
}
