.portfolio {
  padding: 5rem;
  padding-bottom: 5rem;
  &__title {
    i {
      margin-right: 0.75rem;
      color: var(--secondary);
    }
  }
  &__projects {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 2.5rem;
  }
}

@media screen and (max-width: 961px) {
  .portfolio__projects {
    margin-top: 1rem;
    &__card {
      margin-top: 2rem;
    }
  }
}
