.wrapper {
  .section {
    background-color: rgb(33, 33, 33, 0.6);
    padding-bottom: 2rem;
    padding-top: 1rem;
  }

  .footer {
    background-color: var(--dark-grey);
    background-color: rgb(33, 33, 33, 0.6);
  }
}
