<div class="about">
  <h4 class="about__title" [@fadeIn]>
    <i class="bi bi-person-fill"></i>
    <span>About Me</span>
  </h4>
  <div class="about__body">
    <div class="about__body__info">
      <p [@slideUp]>
        A front-end engineer , Studied Computer Science then I found my passion
        for working on anything web related especially the Frontend later.
        Currently working as front end web developer which is where my passion
        for development and design converge. Being a diligent, hardworking, and
        result-oriented lady, I always work towards achieving the best results
        on each project I lay my hands on. I develop websites using cutting-Edge
        Technologies:
      </p>
      <div class="about__body__info__skills" [@fadeIn]>
        <img src="./assets/icons/html.svg" />
        <img src="./assets/icons/css3.svg" />
        <img src="./assets/icons/sass.svg" />
        <img src="./assets/icons/js.svg" />
        <img src="./assets/icons/npm.png" />
        <img src="./assets/icons/angular.svg" />
        <img src="./assets/icons/node.png" />
        <img src="./assets/icons/git.svg" />
      </div>
    </div>
    <div class="about__body__img" [@fadeIn]>
      <img src="./assets//images/Me.png" class="about__body__img__profile" />
    </div>
  </div>
</div>
