.about {
  padding: 6rem 5rem;

  &__title {
    margin-bottom: 1rem;
    i {
      margin-right: 0.75rem;
      color: var(--secondary);
    }
  }
  &__body {
    display: flex;
    justify-content: space-between;

    &__info {
      width: 75%;

      p {
        font-size: 1.3rem;
        margin: 1rem 2rem 0 0;
        text-align: justify;
        width: 90%;
      }
      &__skills {
        margin-top: 3rem;
        width: 90%;
        display: flex;
        justify-content: space-evenly;
        flex-wrap: wrap;
        background-color: var(--primary);
        img {
          width: 4rem;
          height: 4rem;
        }
      }
    }
    &__img {
      width: 25%;
      border-radius: 40%;
      border: 1.5px solid var(--secondary);
      overflow: hidden;
      width: 20rem;
      height: 22rem;

      &__profile {
        width: 100%;
        height: 100%;
      }
    }
  }
}

@media screen and (max-width: 961px) {
  .about {
    padding: 6rem 1rem;
    &__body {
      flex-direction: column;
      align-items: center;
      &__img {
        margin: 2rem 0;
        order: 1;
      }
      &__info {
        width: 100%;
        order: 2;
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
