<div class="card">
  <img [src]="certificate.logoScr" class="card-img-top" alt="logo" />
  <div class="card__header">
    <h5 class="card__header__title">{{ certificate.name }}</h5>
    <span>{{ certificate.organization }}</span>
  </div>
  <div class="card__buttons">
    <button type="button" class="btn btn-primary">
      <i class="bi bi-award-fill"></i>
      Certificate
    </button>

    <button type="button" class="btn btn-primary">
      <i class="bi bi-github"></i>
      Final Project
    </button>
  </div>
</div>
